@import url(http://fonts.googleapis.com/css?family=Lato|Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Syncopate:400,700);

body {

  background-color: #424242;
  color: #FFFFFF;
  font-family: 'Raleway', Helvetica;
  font-size: 12pt;
  padding: 0px 0px 0px 0px;
  margin: 40px;
}
header {
  background: url('../images/coverphoto.JPG');
  background-size: cover;
  border: #757575;
  padding: 0px 0px 10px 0px;
  text-align: center;
  border-radius: 3px;
}
h1 {
  color: #F44336;
  font-family: 'Raleway', Helvetica;
  font-size: 30pt;
  padding: 20px;
}

h2, h3, h4 {
  color: #42A5F5;
}

a {
  color: #FFD54F;
  text-decoration: none;
}
a hover {
  color:white;
}
img {
  border-radius: 50%;
}
button {
  color: #F44336;
  font-family: 'Raleway', Helvetica;
  font-size: 12pt;
}
questions {
      margin: 5px;
      width: 167px;
      height: 22px;
}
